@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("ttf"),
        url("./assets/fonts/Roboto/Roboto-Medium.ttf") format("ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}